* {
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

/*Nav bar*/
nav{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    height: 80px;
    width: 100%;
    position: fixed;
}
nav ul{
    float: right;
    margin-right: 30px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    left: 0;
    color: #000;
    font-family: monospace;
    font-weight: 550;    
    font-size: 18.5px;
    text-transform: uppercase;
    padding: 0 15px;
    text-decoration: none;
}

nav ul li a:hover {
    color: orangered;
    transition: .5s;
}
label #btn,
label #cancel {
    color: #000 ;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 944px) {
    nav ul li a {
        font-size: 19px;
    }
}

@media (max-width: 860px) {
    label #btn {
        display: block;
    }
    
    ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 45vh;
        background: #fff;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 3vh 0;
        line-height: 10px;
    }

    nav ul li a {
        font-weight: 600;
        font-size: 19px;
    }

    #check:checked ~ ul {
        left: 0;
    }

    #check:checked ~ label #btn {
        display: none;
    }

    #check:checked ~ label #cancel {
        display: block;
    }
}
/*Nav bar*/

/*About*/
#about {
    display: flex;
    flex-direction: column;
    border-top: 1px solid grey;
    width: 100%;
    height: 100vh;
}

.title-1 {
    margin-top: 33vh;
    margin-left: 55vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.title-1 p:nth-child(1) {
    font-size: 30px;
}

.title-1 p:nth-child(2) {
    font-size: 30px;
}

.title-1 p:nth-child(3) {
    font-size: 25px;
}

.title-1 img {
    border: 10px solid goldenrod;
    border-radius: 360vh;
    width: 40vh;
    margin-left: 65vh;
    margin-top: -19vh;
}

.content-1 p:nth-child(1) {
    font-size: 18px;
    font-family: arial;
    margin-left: 55vh;
    margin-top: -20vh;
}

.scm {
    display: flex;
    flex-direction: row;
    margin-left: 53.5vh;
    margin-top: -6vh;
}
.scm a i {
    font-size: 35px;
    color:#000;
    padding: 10px 10px;
}
.scm a i:hover {
    transition: .6s;
    color: royalblue;
}
/*About*/

/*Education*/
#education {
    display: flex;
    flex-direction: column;
    border-top: 1px solid grey;
    width: 100%;
    height: 100vh;
}

.title-2 {
    font-size: 33px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 40vh;
}

.content-2 {
    text-align: center;
    justify-content: center;
    padding: 7px 0;
    color: grey;
}

.content-2 p:nth-child(1) {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.content-2 p:nth-child(2) {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.content-2 p:nth-child(3) {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
/*Education*/

/*Skills*/
#skills {
    display: flex;
    flex-direction: column;
    border-top: 1px solid grey;
    width: 100%;
    height: 100vh;
}

.title-3 {
    font-size: 33px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 37vh;
}

.content-3 {
    font-size: 45px;
    color: grey;
    text-align: center;
}

.tools img {
    width: 50px;
    margin-top: 1vh;
    margin-bottom: -1vh;
}
/*Skills*/

/*Projects*/
#projects {
    display: flex;
    flex-direction: column;
    border-top: 1px solid grey;
    width: 100%;
    height: 100vh;
}

.title-4 {
    font-size: 33px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 28vh;
}

.project-1 {
    margin-left: 70vh;
    margin-top: 5vh;
}

.project-1 img {
    width: 200px;
    height: auto;
    border: 2px solid grey;
    border-radius: 8px;
}

.project-1 p {
    color: #000;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:8.5vh ;
}

.project-2 {
    margin-left: 110vh;
    margin-top: -37vh;
}   

.project-2 img {
    width: 200px;
    height: auto;
    border: 2px solid grey;
    border-radius: 8px;
}

.project-2 p {
    color: #000;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:8.5vh ;
}
/*Projects*/

/*Experience*/
#experience {
    display: flex;
    flex-direction: column;
    border-top: 1px solid grey;
    width: 100%;
    height: 100vh;
}

.title-5 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 49vh;
}
/*Experience*/